body, html, div, header, section, nav, footer, article { display: block; margin: 0; padding: 0;}

.page {
    /* Structure */
    max-width: 40em; /* 10 words in french */
    padding: 1em;
    margin: 0 auto; /* for centering the page */

    /* Typo & colors */
    font: 100%/1.3 "Linux Biolium", "Free Sans", sans-serif;
    background-color: #fdfdfd;
    color: #303030;
}

.page-head, .page-menu, .page-foot {
    text-align: center;
    clear: both;
}

/* In default mode, the menu is displayed horizontally */
.page-menu h2 {display: none;}
.page-menu ul {display: block; margin: 0; padding: 0; list-style-type: none; }
.page-menu li {display: inline-block; list-style-type: none; }

@media (max-width: 25em) { /* if the lines are to short */
    .page {
        font-size: 0.75em; /* decrease the font-size */
        padding: .5em; /* decrease the padding */
    }
    .page-head h1::before { content: '#'; display: block; font: 400%/1 "Code Source Pro", sans-serif; }
}

@media (min-width: 60em) { /* if there is wasted space */
    .page {
        max-width: 50em; /* enlarge the page */
    }

    .page-menu { /* put the menu on the left ... */
        float: left;
        width: 10em;
        position: fixed;
    }
    .page-menu ul {display: block; padding-left: 1em; text-align: left; }
    .page-menu li {display: list-item; list-style-type: square;}

    /* Everything should be aligned with the main column */
    .page-head, .page-main, .page-foot {
        padding-left: 11em;
        text-align: left;
    }
}    
    /* Same things, for RTL languages (left-right swapping) */
    [dir=rtl] .page-menu { float: right; }
    [dir=rtl] .page-head, [dir=rtl] .page-main, 
    [dir=rtl] .page-foot { padding-left: 0; padding-right: 11em; text-align: right; }
    [dir=rtl] .page-menu ul {padding-left: 0; padding-right: 1em; text-align: right; }
}

@media screen {
    /* Page fading */
    body::before, body::after {
        content: ' ';
        display: block;
        left: 0; right: 0;
        position: fixed;
        color: transparent;
        background-color: transparent;
        height: 1.5em;
    }

    body::before {
        top: 0;
        background-image: liner-gradient(white, rgba(255, 255, 255, 0));
    }

    body::after {
        bottom: 0;
        background-image: liner-gradient(rgba(255, 255, 255, 0), white);
    }
}

/* Misc styles */
.meta {
    text-transform: small-caps;
    font-weight: lighter;
    color: #ccc;
}
